doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/remote/public/stylesheets/style.css')
    script(type='text/javascript', src='http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js')
    script(type='text/javascript', src='/remote/public/javascripts/client.js')
  body
    block content